@import "tailwindcss";
@theme {
  /* --color-mint-500: oklch(0.72 0.11 178); */
}

.hero-title {
    color: rgba(27, 27, 27, 0.85);
    backdrop-filter: blur(10px);
    text-shadow: 0 5px 25px rgba(255,255,255,.3);
}